# bundler state
/.bundle
/vendor/bundle/
/vendor/ruby/

# various artifacts
/coverage.data
/coverage/

# vim artifacts
**.swp
*~

# plugins
/plugins/**/.bundle
/plugins/**/vendor/bundle/
/plugins/**/vendor/ruby/
